@keyframes jumpInfinite {
	0% {
		top: 40px;
	}
	50% {
		top: 50px;
	}
	100% {
		top: 40px;
	}
}
@-webkit-keyframes scaling {
	From {
		-webkit-transform: scale(1);
	}
	To {
		-webkit-transform: scale(1.1);
	}
}
@keyframes scale {
	to {
		transform: scale(1.1);
	}
}
@-webkit-keyframes animate {
	from {
		transform: scale(1.3) rotate(.4deg);
		transition: transform .1s ease-in-out;
	}
	to {
		transform: scale(1.1) rotate(0deg);
		transition: transform .1s ease-in-out;
	}
}
@keyframes animate {
	from {
		transform: scale(1.3) rotate(.4deg);
		transition: transform .1s ease-in-out;
	}
	to {
		transform: scale(1.1) rotate(0deg);
		transition: transform .1s ease-in-out;
	}
}
@-webkit-keyframes animate2{
	from {
		transform: scale(1.1) rotate(0deg);
		transition: transform .1s ease-in-out;
	}
	to {
		transform: scale(1.3) rotate(.4deg);
		transition: transform .1s ease-in-out;
	}
}
@keyframes animate2 {
	from {
		transform: scale(1.1) rotate(0deg);
		transition: transform .1s ease-in-out;
	}
	to {
		transform: scale(1.3) rotate(.4deg);
		transition: transform .1s ease-in-out;
	}
}

html {
	background: #E0E0E0;
	overflow-x: hidden;
    touch-action: none;
}
body {
	background: #E0E0E0;
	overflow-x: hidden;

}
.logo_black {
	display: none;
}

.back_black_header {
	.navbar-light {
		background-color: #1F1F1F;

		.navbar-nav {
			.nav-link {
				padding-right:3rem;
				color: #fff;
				&:hover {
					color: #fff;
				}
				&:focus {
					color: #fff;
				}
				&:last-child {
					&:hover {
						path {
							fill: #1F1F1F;
						}
					}
					&:focus {
						path {
							fill: #1F1F1F;
						}
					}
					path {
						fill: #fff;
					}
				}
			}
			.nav-link.active {
				color: #fff;
			}
			.nav-link.btn_contact {
				&:hover {
					color: #1F1F1F !important;
					box-shadow: inset 400px 0 0 0 #fff;
				}
				&:focus {
					color: #1F1F1F !important;
					box-shadow: inset 400px 0 0 0 #fff;
				}
			}
		}
	}
	.btn_contact {
		&:hover {
			color: #1F1F1F;
			background-color: #fff;
		}
	}
}
.back_white_header {
	.link_contact{
	   color: #1F1F1F!important;
	}

	.navbar-toggler{
		.close_menu , .fa-bars{
			color: #1F1F1F!important;
		}
	}

	.navbar-light {
		background-color: #fff;


		.navbar-nav {
			.nav-link {
				padding-right:3rem;
				color: #1F1F1F!important;
				&:hover {
					color: #1F1F1F!important;
				}
				&:focus {
					color: #1F1F1F!important;
				}
				&:last-child {
					path {
						fill: #1F1F1F;
					}
					&:hover {
						path {
							fill: #fff;
						}
					}
					&:focus {
						path {
							fill: #fff;
						}
					}
				}
			}
			.nav-link.active {
				color: #1F1F1F!important;
			}
			.nav-link.btn_contact {
				&:hover {
					color: #fff !important;
					box-shadow: inset 400px 0 0 0 #1F1F1F;
				}
				&:focus {
					color: #fff !important;
					box-shadow: inset 400px 0 0 0 #1F1F1F;
				}
			}
		}
	}
	.btn_contact {
		&:hover {
			color: #fff;
			background-color: #1F1F1F!important;
		}
		border: 1px solid #1F1F1F!important;
	}
}
.navbar-light{
	 .navbar-nav{
		.nav-link {
			color: #fff;
			padding-right:3rem;
			&:hover {
				color: #fff;
				
			}
			&:focus {
				color: #fff;
				
			}
			&:last-child {
				&:hover {
					path {
						fill: #1F1F1F;
					}
				}
				&:focus {
					path {
						fill: #1F1F1F;
					}
				}
			}
		}
		.nav-link.active {
			color: #fff;
			padding-right:2.5rem;
		}
		.nav-link.btn_contact {
			&:hover {
				color: #1F1F1F !important;
				box-shadow: inset 400px 0 0 0 #fff;
			}
			&:focus {
				color: #1F1F1F !important;
				box-shadow: inset 400px 0 0 0 #fff;
			}
		}
	}
}
.btn_contact {
	position: relative;
	position: relative;
	border: 1px solid #fff;
	padding: 1rem 1.5rem !important;
	width: 184px;
	height: 53px;
	font-size: 15.18px;
	text-align: left;
	-webkit-transition: ease-out 0.4s;
	-moz-transition: ease-out 0.4s;
	transition: ease-out 0.4s;
	svg {
		position: absolute;
		top: 23px;
		margin-left: 0.5rem;
	}
}
.back_custom {
	position: absolute;
	top: 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 100%;
}
.title_custom {
	font-family: "nexa_bold";
	font-size: 4vw;
	color: #fff;
	display: block;
}
.title_custom2 {
	display: block;
	font-family: "nexa_bold";
	color: #fff;
	font-size: 17px;
}
.scroll-progress-bar {
	height: 3px;
	width: 0;
	z-index: 2;
}
.overlay_home{
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	background-color: rgba(0,0,0,0.5);
	height: 100%;
	width: 100%;
	display: none;
	z-index: 9;
}
.content_arrow {
	position: absolute;
	left: 51px;
	bottom: 98px;
	z-index: 2;
}
.overlay_background{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: rgba(0,0,0,0.5);
}
.home {
	position: relative;
	height: 100vh;
	padding: 3rem 0;
}

.header1{
	position: relative;
    width: 100%;
    z-index: 100000;
	.bg_custom{
	font-family: "nexa_bold";
	height:auto;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 15.18px;
	}

    .bg_custom.main_menu{
		position:fixed;
		width:100%;
		top:-70px;
		left: 0;
		right: 0;
		transform: translateY(70px);
		transition: transform 5ms ease , background 5ms ease;
		-webkit-transition: transform 5ms ease , background 5ms ease;
		z-index:1000;  
	 }

}


.work {
	position: relative;
	height: auto;
	padding: 8rem 0rem;
	.img_box {
		width: 100%;
		height: 100%;
		margin-bottom: 2rem;
		background-color: rgb(228, 212, 207, 0.5);
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-transition: .3s ease-in-out;
		transition: .3s ease-in-out;
		img {
			width: 100%;
			height: 300px;
			-o-object-fit: cover;
			object-fit: cover;
			cursor: default;
		}
	}
}
.content_card {
	padding: 0 2.5rem;
}
.title_subject {
	font-family: "nexa_light";
	font-size: 1.5rem;
	color: #1F1F1F;
	font-weight: 600;
	margin-bottom: 5rem;
	padding-left: 2rem;
	width: 44%;
}
.arrow_down {
	position: relative;
	top: 25px;
	left: 36.8px;
	animation: jumpInfinite 1.3s infinite;
}
.circle_down {
	position: relative;
	top: 4rem;
	z-index: -1;
}
.content_title {
	padding: 0 2.9rem;
	position: absolute;
	top: 162px;
	line-height: 1.1;
	z-index: 1;
	width:55%;
}
.link_down {
	color: transparent;
	cursor: pointer;
	&:hover {
		color: transparent;
		cursor: pointer;
	}
}
.card_custom {
	margin-bottom: 3rem;
	.img_box {
		&:hover {
			cursor: pointer;
			-webkit-transform: scale(1.1);
			transform: scale(1.1);
		}
	}
	.title1 {
		font-family: "nexa_light";
		font-size: 1.3rem;
		font-weight: 600;
	}
	.title2 {
		font-family: "nexa_light";
		font-size: 1rem;
		font-weight: 500;
	}
}
.link_top {
	display: none;
}
.opacity {
	background-color: rgb(0, 0, 0, 0.5)!important;
}
.opacityblack {
	background-color: rgb(0, 0, 0, 0.5)!important;
}
.opacitywhite {
	background-color: rgb(255, 255, 255, 0.5)!important;
}
.title_card {
	font-family: "nexa_light";
	width: 700px;
	font-size: 1rem;
	margin-top: 2rem;
	text-decoration: none;
	color: #1F1F1F;
	&:hover {
		color: #1F1F1F;
	}
}
.link_more {
	font-family: "nexa_light";
	color: #1F1F1F;
	text-transform: uppercase;
	text-decoration: none;
	font-size:0.9rem;
	&:hover {
		font-family: "nexa_light";
		color: #1F1F1F;
		text-transform: uppercase;
		text-decoration: none;
	}
}
.capabilities {
	position: relative;
    height: 600px;
    margin: 5rem 0;
}
.menu_custom {
	margin-right: 2.1rem;
}
.menu-img {
	opacity: 0.6;
	img {
		position: absolute;
		top: 0px;
		width: 100%;
		height: 600px;
		object-fit: cover;
	}
}
.nav-lists {
	position: relative;
    top: 100px;
    list-style: none;
    z-index: 1;
    line-height: 1.6;
    padding-left: 2rem;
    pointer-events: visible;
	.menu {
		padding-bottom: 2rem;
		cursor: pointer;
		span {
			cursor: pointer !important;
			font-family: "nexa_light";
			font-size: 2rem;
			text-decoration: none;
			color: #1F1F1F;
			font-weight: 600;
		}
	}
}
.link_specialize {
	position: relative;
    font-family: "nexa_light";
    color: #1F1F1F;
    text-decoration: none;
    top: 59px;
    font-size: 1rem;
    font-weight: 500;
    padding-left: 2.1rem;
    z-index: 1;
	&:hover {
		color: #1F1F1F;
	}
}
.revolve {
	position: relative;
	height: auto;
	padding:3rem 1rem;
	margin:5rem 0;
}

.revolve-text {
	font-family: "nexa_bold";
	font-size: 2.1rem;
	padding-left: 1rem;
	margin:2.9rem 0;
	color: #525252;
	width: 50%;
}
.content2{
	.item{
		   
		img{
			width: 220px;
			height: 220px;	
			object-fit: contain;
			
		}
	}
	.owl-controls {
		.owl-buttons {
			div {
				position: relative;
				top: -20px;
				right: -205px;
				background-color: transparent;
				padding: 3px 3px;
			}
		}
	}
	
}
.owl-carousel 
{
	.owl-wrapper-outer{
		overflow: hidden;
		position: relative;
		width: 100%;
		-webkit-transform-style:preserve-3d;
		-moz-transform-style:preserve-3d;
		transform-style:preserve-3d;
	}
}

.owl_custom {
	padding: 2rem 2rem;
	text-align: center;
	
	.item {
		img {
			width: 140px;
			height:60px;
			object-fit: contain;
		}
	}


}

.back_white {
	position: relative;
	background-color: #fff;
	border-color: #707070;
	margin: 0 1.2rem;
	padding: 2rem 0.65rem;
	overflow: hidden;
}
.subject-revolve {
	font-family: "nexa_light";
	font-weight: 500;
	font-size: 1.2rem;
	color: #1F1F1F;
}
.text-small-custom {
	font-family: "nexa_light";
	display: block;
	font-size: 0.9rem;
	font-weight: 500;
	color: #1F1F1F;
	margin-bottom: 2rem;
}

.owl_custom2 {
	text-align: center;
	margin-top: 3rem;
	margin-bottom: 2rem;
}

.owl-nav {
	position: relative;
	right: 20px;
	float: right;
	button {
		
		background-color: transparent !important;
	}
}

.number {
	font-family: "nexa_light";
	font-size: 1rem;
}
.retraine {
	position: relative;
	height:600px;
	
}

.back_retraine {
	background-size: cover!important;
	height: 600px;
}

.overlay-text {
	font-family: "nexa_bold";
    font-size: 3rem;
    padding: 5rem 2.8rem;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
	p{
		width: 50%;
	}
}
.link_about {
	font-family: "nexa_light";
	font-size: 1rem;
	font-weight: 600;
	color: #fff;
	text-decoration: none;
	position: relative;
	
	&:hover {
	
		color: #fff;
		text-decoration: none;
	
	}
}
.blend {
	position: relative;
	height: auto;
	padding: 2rem 2.6rem;
	margin: 5rem 0;
}
.text-blend {
	font-family: "nexa_light";
	font-size: 2rem;
}
.title_blend1 {
	font-family: "nexa_light";
	font-size: 0.8rem;
}
.title_blend2 {
	font-family: "nexa_light";
	font-size: 1.1rem;
	font-weight: 600;
}
.title_blend3 {
	font-family: "nexa_light";
	font-size: 0.9rem;
}

.card_blend{
	.box_img_blend {
		padding-bottom: 1rem;
		img {
			width: 100%;
			height: 300px;
			object-fit: cover;
		}
	}
}



.link_explore {
	color: #454547;
	text-decoration: none;
	font-size: 0.9rem;
	&:hover {
	color: #454547;
	text-decoration: none;
	}
}

.back_black {
	background-color: #181818;
	color: #454547;
	height: auto;
	padding:32rem 3.2rem 5rem 3.2rem;
}
.work_togther {
	display: block;
	font-family: "nexa_bold";
	font-size: 3rem;
	text-align: center;
}
.footer_custom {
	position: relative;
}
.logo_header {
	padding: 0 2.3rem;
	img {
		width: 141px;
		height: 66px;
		-o-object-fit: contain;
		object-fit: contain;
	}
}
.logo_footer {
	img {
		width: 141px;
		height: 66px;
		object-fit: contain;
	}
}
.title_footer {
	font-family: "bod_cbit";
	color: #fff;
	font-size: 3rem;
}
.content_footer {
	line-height: 1.5;
	div.ch1 {
		flex: 0 0 20%;
	}
}
.list_footer {
	list-style: none;
	padding: 0;
	a {
		font-family: "nexa_light";
		font-size: 0.9rem;
		color: #525252;
		text-decoration: none;
	}
}
.separative {
	margin: 2rem 0rem;
}
.contact {
	position: absolute;
	top: -40px;
	width: 100%;
	padding: 0 2.1rem 0 3.8rem;
}
.back_blue {
	position: relative;
	background-color: #ACD8E2;
	height:347px;
	padding: 8rem 0;
}

.contact_mobile{
	display: none;
	.back_blue {
		position: absolute;
		position: absolute;
	    background: url(../img/sea.png) no-repeat center center;
		height: 366px;
		width: 100%;
		background-size: cover;
		.work_togther{
			color: #fff;
			font-size: 1.3rem;
		}
		.link_contact{
			color: #fff;
			display:inline-grid;
			margin-top: 1rem;
			img{
				padding: 0!important;
				margin: 1rem auto;
			}
		}
		
	}

}

.list_social {
	.follow_link{
		padding-right: 5.7rem;
	}
	a {
		text-decoration: none;
		color: #525252;
		font-family: "nexa_light";
		font-size: 1rem;
		padding-right: 5.7rem;
		&:hover {
			text-decoration: none;
			color: #525252;
			font-family: "nexa_light";
			
		}
	}
	li {
		&:last-child {
			a {
				padding-right: 0;
				&:hover {
					padding-right: 0;
				}
			}
		}
	}
}
.policy {
	margin-right: 8rem;
}
.link_contact {
	font-family: "nexa_light";
	color: #1F1F1F;
	text-decoration: none;
	font-size: 1rem;
    font-weight: 550;
	&:hover {
		font-family: "nexa_light";
		color: #1F1F1F;
		text-decoration: none;
	
	}
}
.content_contact {
	text-align: center;
}


 



.progress-bar {
	position: absolute;
	top: 100%;
	left: 0;
	height: 6px;
	width: 100%;
	background-color: transparent;
	display: none;
	.progress-bar-inner{
		position: relative;
		width: 0%;
		padding: 0px;
		height: 6px;
		background-color: rgb(141,177,187);
	}
}

.progress-bar2 {
	position: absolute;
	top: 100%;
	left: 0;
	height: 6px;
	width: 100%;
	background-color: transparent;
	display: none;

   .progress-bar-inner2{
	position: relative;
	width: 0%;
	padding: 0px;
	height: 6px;
	background-color: rgb(141,177,187);
   }
}


.floating {
	animation-name: animate;
	animation-duration: 2.5s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
}
.floating2 {
	animation-name: animate2;
	animation-duration: 2.5s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
}


.tooltip_custom{
	outline:#fff;
	padding: 0.8rem;
	border-radius: 5px;
	position: relative;
	
	
}


.tooltip_custom.draw{
	animation: fill 5s ease-in-out infinite;
	z-index: 999;
	
}

@keyframes fill{
	0%{
		background: linear-gradient(to right, #fff, #fff), linear-gradient(to right, #fff, #fff), linear-gradient(to bottom, #fff, #fff), linear-gradient(to bottom, #fff, #fff);
		background-position: 0% 0%, 100% 100%, 0% 0%, 100% 100%;
		background-size: 0% 2px, 0% 2px, 2px 0%, 2px 0%;
		/* 2px is border thickness */
		
		background-repeat: no-repeat;
		transition: all 1s;
	}
	50% {
		background-size: 100% 2px, 100% 2px, 2px 100%, 2px 100%;
	}
  
	100% {
		background: linear-gradient(to right, #fff, #fff), linear-gradient(to right, #fff, #fff), linear-gradient(to bottom, #fff, #fff), linear-gradient(to bottom, #fff, #fff);
		background-position: 0% 0%, 100% 100%, 0% 0%, 100% 100%;
		background-size: 0% 2px, 0% 2px, 2px 0%, 2px 0%;
		/* 2px is border thickness */
		
		background-repeat: no-repeat;
		transition: all 1s;
	}
  }


 
.arrow2 {
	animation: slide2 1s ease-in-out infinite;
  }
  

  @keyframes slide2 {
	0%,
	100% {
	  transform: translate(0, 0) rotate(45deg);
	}
  
	50% {
	  transform: translate(10px, 10px) rotate(45deg);
	}
  }

  .arrow_pos{
	position: absolute;
	top: -73px;
    left: -54px;
	display: none;
	.fa{
		color: #ACD8E2;
		font-size: 2.5rem;
	}
  }
  .close_pos{
	position: relative;
    top: -78px;
    float: right;
	display: none;
	transition: all 2s ease;
	.fa{
		color: #ACD8E2;
		font-size: 1.5rem;

	}
	&:hover{
		text-decoration: none;
		.fa{
			color: #ACD8E2;
			font-size: 1.5rem;
	
		}
	}
  }


.side_menu {
	position: fixed;
	bottom:100%;
	left: 0;
	right: 0;
	width:100%;
	z-index: 2;
	height:0;
    opacity: 0;
	background-color:#191919;
    padding: 0.5rem;
    visibility:hidden;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all  0.3s linear;
	-o-transition: all  0.3s linear;
	-ms-transition:all  0.3s linear;
	transition: all  0.3s linear;
	
	ul{

		display:-webkit-box;
		display:flex;
		-webkit-box-orient:vertical;
		flex-direction:column;
		height:90%;
		margin: 2rem 0;

		li
		{	
			
			min-height:0;
			-webkit-box-flex:0.2;
			flex:0.2;
			width: 100%;
			text-align: center;

			a ,a:hover{
				color: #fff!important;
				font-size: 1.3rem;
				text-decoration: none;
				text-transform: uppercase!important;
				z-index: 11;
				padding: 0 !important;
			}
			
		}
	}

	.logo_header{
		padding: 0;
		img{
			width: auto;
			height:50px;
		}
    }
	.link_contact{
		font-family:"nexa_bold";
		color: #fff;
		text-decoration: underline!important;
		text-decoration-thickness: 0.1rem;
		text-underline-offset: 0.1rem;
	}

	
	.business_link{
		font-size: 1.2rem!important;
	}
}

.row_firt_menu{
	width: 100%;
}

.header2{
	position: relative;
    width: 100%;
    z-index: 9999;
    padding:0.2rem 0.2rem;
	display: none!important;

	
	.logo_header{
		padding: 0;
		img{
			width: auto;
			height:50px;
		}
    }
}

.navbar-toggler{
	cursor: pointer;
	width: 100%;
	z-index: 999;
	.fa{
	  color: #fff;
	  font-size: 1.5rem;
	}
	&:focus{
		outline: none;
		box-shadow:none
	}
  }

.open_menu{
 
  overflow: hidden!important;
}

.show_menu{
	visibility: visible;
	opacity: 1;
	bottom: 0;
	top: 0;
	height:100%;
	z-index: 11111;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	transition: all 0.3s linear;
    overflow: hidden!important;
	padding: 1rem;

    .row_firt_menu{
		margin-bottom: 1.8rem;
	}
}



.close_menu{
	color: #fff;
    font-size: 1.8rem;
	font-weight: 500;
	text-decoration: none;
	text-align: right;
	position: relative;
	right: 22px;
    top: 16px;
	cursor: pointer;
	&:hover{
		color: #fff;
		text-decoration: none;
	}
}

.content_revolve{
	.ch1{
		flex: 0 0 20%;
	}

	.ch{
      flex: 0 0 65%;
	}
} 


